@import "compass";
@import "compass/reset";




*,*:before,*:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html {
	font-size: 62.5%; 
	font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

body {
	font-size:1.3em;
	//color:darken(#7f8c8d, 25%);
	color:#1F1F21;
	line-height: 1.5;
	font-family:"Helvetica Neue",Arial, Sans-serif;
	font-weight: 400;
	>div {
		font-size: 1.3rem;
	}
}

.amp {
	font-family: "Abril Fatface", Georgia, Serif;
}

b,strong {
	font-weight: 700;
}

em,i {
	font-style: italic;
}

a {
	color:#007AFF;

	&:hover,&:focus {
		color:#5856D6;
		text-decoration: underline;
	}
}


.clear:before,
.clear:after {
  display: table;
  content: "";
}

.clear:after {
  clear: both;
}

.row {
    @extend .clear;
    margin:0 -1rem;
}

.col {
    float:left;
    padding:0 1rem;
}


.grid-3b {width: 20%}
.grid-12{width:100%}
.grid-11{width:91.66666666666666%}
.grid-10{width:83.33333333333334%}
.grid-9{width:75%}
.grid-8{width:66.66666666666666%}
.grid-7{width:58.333333333333336%}
.grid-6{width:50%}
.grid-5{width:41.66666666666667%}
.grid-4{width:33.33333333333333%}
.grid-3{width:25%}
.grid-2{width:16.666666666666664%}
.grid-1{width:8.333333333333332%}

.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}

.container {
	@extend .clear;
    width: 100%;
    max-width: 98rem;
    margin:0 auto;
    position: relative;
    padding:0 1rem;
}


img {
	max-width: 100%;
}

a {
	text-decoration: none;
}


.logo {
	display: block;
	float: left;
	margin:0 auto;

	a {
		display: block;
	}

	img {
		display: block;
		margin:0 auto;
		height: 6.4rem;
	}
}



.btn {
	vertical-align: baseline;
   -webkit-appearance:none;
  display: inline-block;
  padding: .8rem 1.75rem;
  margin:0;
  font-size: 1.4rem;
  font-weight: normal;
  height: 3.6rem;
  line-height: 1.8rem;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;

outline: none;
   color: #333;
  background-color: #ecf0f1;
  border-color: #bdc3c7;
  box-shadow: 0 .1rem rgba(255,255,255,0.25) inset;
  -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    border-radius: .25rem;
    text-decoration: none !important;


          -webkit-box-sizing:border-box;
          -moz-box-sizing:border-box;
          box-sizing:border-box;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;

  background-color: darken(#ecf0f1, 8%);
  border-color: darken(#bdc3c7, 8%);
  box-shadow: 0 .1rem rgba(255,255,255,0.125) inset;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}



.btn-link,
.btn-link:hover,

.btn-link:focus {
	border-color:rgba(255,255,255,0);
	background:none;
	box-shadow: none;
}

.btn-blue {
  color: #fff;
  background-color: #3498db;
  border-color: #2980b9;
  box-shadow: 0 .1rem rgba(255,255,255,0.25) inset;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  color: #fff;
  background-color: darken(#3498db, 8%);
  border-color: darken(#2980b9, 8%);
  box-shadow: 0 .1rem rgba(255,255,255,0.125) inset;

}
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  background-image: none;
  box-shadow: 0 .1rem .2rem darken(#2980b9, 8%) inset;
}
.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  background-color: #428bca;
  border-color: #357ebd;
}




.form-control {
	vertical-align: baseline;
	font-family:inherit;
	display: block;
	width: 100%;
	height: 3.6rem;
	padding: .8rem;
	font-size: 1.4rem;
	line-height: 2rem;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #bdc3c7;
	border-radius: .25rem;
	box-shadow: 0 .1rem .1rem rgba(0,0,0,0.1) inset;
	-webkit-appearance:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;


}


.form-control:focus {
  border-color: #66afe9;
  outline: 0;
 }
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
  resize:vertical;
}
input[type="search"] {
  -webkit-appearance: none;
}
input[type="date"] {
  line-height: 34px;
}

.form-inline,.action-inline {
	display: inline-block;
}


.dropdown {

	.dropdown-menu {
		padding: 1rem 0;
		position: fixed;
		top:0;
		right: 0;
		width: 0;
		bottom: 0;
		background:#2c3e50;
		overflow: auto;
		opacity:0;
		z-index: 9999;
		-webkit-transition: width .15s ease-in-out;
		-moz-transition: width .15s ease-in-out;
		-o-transition: width .15s ease-in-out;
		transition: width .15s ease-in-out;

		&.active {
			opacity:1;
			width: 28rem;
		
		}

		ul {
			li {
				a {
					display: block;
					line-height: 6rem;
					height: 8rem;
					position: relative;
					padding: 1rem 9rem 1rem 1rem;
					color:#fff;
					font-size: 2rem;
					white-space: nowrap;
					text-align: right;

					.btn {
						position: absolute;
						top:1rem;
						right: 1rem;
					}
				}
			}
		}
	}

	
}



.site-header {
	position: relative;


	@extend .clear;
		height: 7.3rem;

	.hook {
		border-top:solid .3rem #1F1F21;
		@extend .clear;
		padding:.2rem 0 .5rem;
		background: rgba(255,255,255,0.875);
		box-shadow: 0 0 .2rem 0 rgba(0,0,0,.5);
		position: absolute;
		top:0;
		right: 0;
		left: 0;
		z-index: 999;
		height: 7.3rem;
	}
}

.info-bar {
	text-align: right;
	padding:1rem 0;
	float: right;
	clear: right;
}



.site-navigation {
	margin:1rem 0 0;
	float: right;
	clear: right;
	ul {
		li {
			display: inline-block;
			text-align: left;

			a {
				display: block;
				padding:1.25rem 1.75rem;
				line-height: 1.5rem;
				margin: 0 0 0 1rem;
				color:#333136;
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: .125rem;
				text-decoration: none !important;
				border-radius: .3rem;


				&:hover,&:focus {
					//background:#f39c12;
					//color:#fff;
					//-webkit-font-smoothing:antialiased;

					background: rgba(0,0,0,0.05);
				}

				&:active {
					box-shadow: 0 .1rem .2rem rgba(0,0,0,0.1) inset;
				}
			}

		
		}
	}
}


.page-header {
	background-color:#1F1F21;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;


	.page-header-cover {
		background:rgba(0,0,0,0.75);
		padding:2rem 0 3rem;
	}

	.page-title {
		margin-left:25rem;
		padding-left:5rem;
		position: relative;

		&:after {
			content:"";
			position: absolute;
			width: .2rem;
			background: rgba(189,195,199,0.3);
			top:-2rem;
			left: 0;
			bottom:-3rem;
		}
	}

	em {
		position: absolute;
		width: 25rem;
		left:-25rem;
		top:0;
		font-style:normal;
		font-weight: 700;
		letter-spacing: .15rem;
		color:#fff;
		color:rgba(255,255,255,0.625);
		text-transform: uppercase;
		line-height: 2rem;
		text-shadow:0.1rem 0.1rem rgba(0,0,0,0.1),0.2rem 0.2rem 0.1rem rgba(0,0,0,0.1),0.3rem 0.3rem 0.2rem rgba(0,0,0,0.1);

		.amp {
			font-weight: 400;
			font-size: 2rem;
			color: #bdc3c7;
			color:rgba(255,255,255,0.375);
		}


		/*margin:0 0 0 3rem;
		font-size: 3rem;
		padding:.2rem;
		display: inline-block;
		background:#fff;
		border-radius: 10rem;
		font-weight: 300;
		line-height: 1.25;
		-webkit-font-smoothing:antialiased;
		color:#fff;
		//text-shadow:.1rem .1rem rgba(0,0,0,0.1),.2rem .2rem .1rem rgba(0,0,0,0.1),.3rem .3rem .2rem rgba(0,0,0,0.1);

		text-transform: uppercase;
		letter-spacing: .2rem;
		font-size: 1.5rem;
		font-weight: 700;
		overflow: hidden;


		-webkit-box-shadow:0 0.1rem 0.2rem rgba(0,0,0,0.125),0 0.1rem 0.2rem rgba(0,0,0,0.25);
		box-shadow:0 0.1rem 0.2rem rgba(0,0,0,0.125),0 0.1rem 0.2rem rgba(0,0,0,0.25);
		position: relative;
		z-index: 10;

		span {
			display: block;
			padding:1rem 2rem;
			border-radius: 10rem;
			background: #2980b9;

			-webkit-box-shadow:0 0.1rem 0.2rem rgba(0,0,0,0.125) inset;
			box-shadow:0 0.1rem 0.2rem rgba(0,0,0,0.125) inset;
			text-shadow:.1rem .1rem rgba(0,0,0,0.15);
		}*/


	}

	h1 {
		font-family: "Abril Fatface", Serif;
		color:#fff;
		font-size: 2.8rem;
		text-shadow:0.1rem 0.1rem rgba(0,0,0,0.1),0.2rem 0.2rem 0.1rem rgba(0,0,0,0.1),0.3rem 0.3rem 0.2rem rgba(0,0,0,0.1);
		line-height: 1.25;
		font-weight: 400;
		position: relative;
		margin-left: .5rem;


		
	}


}

.page-hero {
	.node {
		  stroke: #fff;
		  stroke-width: 1.5px;
		}

		.link {
		  stroke: #999;
		  stroke-opacity: .6;
		}
}




.hero-wrapper {
	background-color:#000;
	height: 52.5rem;
	position: relative;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	-webkit-font-smoothing:antialiased;

	.credit {
		position: absolute;
		bottom:.5rem;
		right: 1rem;
		font-size: .9rem;
		color:rgba(255,255,255,0.375);
		z-index: 99;

		a {
			color:rgba(255,255,255,0.5);
		}
	}

	.hero-content {
		position: absolute;
		top:0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.75);
		//background:rgba(255,255,255,0.5);
	}

	.call-action {
		font-size: 2rem;
		text-align: center;
		padding:0 4rem;

		p {
			color:#fff;
			text-shadow:.1rem .1rem rgba(0,0,0,0.2);
			font-family: "Open Sans";
			font-weight: 300;
		}

		.action {
			margin:4rem auto 0;

			.btn {
				width: 24rem;
				font-size: 2rem;
				background: rgba(255,255,255,0.05);
				color:#fff;
				border:solid .1rem rgba(255,255,255,0.375);
				border-radius: .5rem;
				font-family: "Open Sans", Sans-serif;
				font-weight: 300;
				box-shadow: none;
				padding:1.5rem 2rem 1.625rem;
				text-shadow:0.1rem 0.1rem rgba(0,0,0,0.1),0.2rem 0.2rem 0.1rem rgba(0,0,0,0.1),0.3rem 0.3rem 0.2rem rgba(0,0,0,0.1);
				letter-spacing: .1rem;
				box-shadow: 0 .1rem .2rem rgba(0,0,0,0.2);
				height: auto;


				&:hover,&:focus {
					background:rgba(255,255,255,0.125);
				}

			}
		}
	}


	h1 {
		font-size: 4.2rem;
		margin:5rem 0 3rem;
		font-family: "Abril Fatface";
		line-height: 1.125;
		-webkit-font-smoothing:antialiased;
		color:#fff;
		text-shadow:
		.1rem .1rem rgba(0,0,0,0.2),

		.1rem .1rem .2rem rgba(0,0,0,0.1),
		.1rem .1rem .3rem rgba(0,0,0,0.1),
		.2rem .2rem .1rem rgba(0,0,0,0.1),
		.2rem .2rem .2rem rgba(0,0,0,0.1);
	}
}


.hero-viz {
	position: relative;
}

.checker {

	position: absolute;
	bottom:0;
	right: 0;
	left: 0;
		background: rgba(0,0,0,0.5);

	.checker-form {
		padding:1.5rem 2rem 2rem;
		position: relative;
		overflow: hidden;
		max-width: 72.8rem;
		margin:0 auto;
	}

	legend {
		display: block;
		margin:0 0 1.5rem;
		font-size: 1.3rem;
		color:rgba(255,255,255,0.75);
		text-align: center;
		width: 100%;
	}

	.form-inline {
		width: 49.5%;
		float: left;
		margin-right: .5%;

		&+.form-inline {
			width: 34.5%;
			margin-right: .5%;
		}
	}

	.form-control,.btn {
		border-color:rgba(0,0,0,0.875);
		border-radius: .4rem;

	}

	.form-control {
		background: rgba(255,255,255,.3);
		box-shadow: 0 .1rem rgba(0,0,0,0.2) inset,0 .1rem .1rem rgba(0,0,0,0.2) inset,0 .1rem .2rem rgba(0,0,0,0.2) inset;
		color:#fff; 
		text-shadow:.1rem .1rem rgba(0,0,0,0.15);

		&:focus {
			background:rgba(255,255,255,0.4);
		}

		&::-webkit-input-placeholder { color:#fff; text-shadow:.1rem .1rem rgba(0,0,0,0.15); }
		&::-moz-placeholder { color:#fff; text-shadow:.1rem .1rem rgba(0,0,0,0.15); } /* firefox 19+ */
		&:-ms-input-placeholder { color:#fff; text-shadow:.1rem .1rem rgba(0,0,0,0.15);  } /* ie */
		&:input:-moz-placeholder { color:#fff; text-shadow:.1rem .1rem rgba(0,0,0,0.15);  }
	}

	.action-inline {
		float: left;
		width: 15%;
		.btn {
			width: 100%;
		}
	}


	.btn {
		font-weight: 700;
		svg {
			display: block;
			fill:#95a5a6;
		}
	}

	.btn-link {
		position: absolute;
		right: 0;
		top:2rem;
		color:#3498db;
	}
}

.section {
	padding:2rem 0;
	position: relative;


	.callout {
		font-size: 1.8rem;
		text-align: center;
		font-family: "Open Sans", sans-serif;

		blockquote {
			padding:3rem;
			border-top: solid .3rem rgba(0,0,0,0.0625);
		}
	}

	&.section-clients {
		background:#FBFBFB;
		border-bottom: solid .1rem #EFEFEF;
	}


	&.section-about {
		border-bottom: solid .1rem #e5e5e5;
	}

	&.section-entry {
		padding:4rem 0;
	}

	.header {
		text-align: center;
			position: relative;
			margin:0 0 2rem;

		h2 {
			font-size: 1.3rem;
			display: inline-block;
			padding:2rem;
			position: relative;
			z-index: 1;
			font-weight: 700;
			letter-spacing: .15rem;
			text-transform: uppercase;
			background: #f7f7f7;
			line-height: 2rem;

			.amp {
				font-weight: 400;
				font-size: 2rem;
				color:#bdc3c7;
			}


			
		}

		&:before {
			content:"";
			position: absolute;
			height: .2rem;
			background:rgba(189,195,199,0.3);
			top:50%;
			margin-top:-.1rem;
			right: 65%;
			left: 0;
		}


		&:after {
			content:"";
			position: absolute;
			height: .2rem;
			background:rgba(189,195,199,0.3);
			top:50%;
			margin-top:-.1rem;
			right: 0;
			left: 65%;
		}
	}

	.content {
		.logoblock {
			width: 100%;

			td {
				border-bottom: solid .1rem #e5e5e5;
				border-right: solid .1rem #e5e5e5;
				text-align: center;
				width: 20%;
				padding: 0 3rem 2rem;

				img {
					display: block;
					margin:0 auto;
					opacity: .625;
					max-width: 10rem;
					max-height: 10rem;

				}

				&:last-of-type {
					border-right:0;
				}
			}

			tr:last-of-type {
				td {
					border-bottom:0;
					padding:2rem 3rem 0;
				}
			}
		}
	}
}








.section {
	.action {
		margin:2rem 0;
		text-align: center;
	}
}

.box {
	margin:0 0 2rem;
	color:#484848;
	position: relative;
	padding:0 1.5rem 1rem 5rem;

	.icon {
		overflow: hidden;
		width: 4rem;
		height: 4rem;
		position: absolute;
		top:0;
		left: 0;
		svg {
			width: 4rem;
			height: 4rem;
			display: block;
			fill:#D6CEC3;
			float: left;
		}
	}

	h3 {
		font-weight: 700;
		font-size: 1.8rem;
		//margin:0 0 .5rem;
		//text-transform: uppercase;
		//color:#3498db;
	}

	p {
		color:#484848;
		margin:0 0 2rem;

	}


	.label {
		display: inline-block;
		width: 6.4rem;
	}

	&.box-about {
		min-height: 3rem;
		padding:1rem 0 1rem 3.6rem;
		margin:-1rem 0;
		border-right: solid .1rem #f1f1f1;
		min-height: 8rem;
		.icon {
			position: absolute;
			top:.5rem;
			left: 0;
		}
	}

	&.box-category-nav {
		margin:-2rem 0;
		text-align: center;
		position: relative;
		border-right: solid .1rem #f1f1f1;

		a {

		color:#484848;
		display: block;
		padding:2rem 0;
		}

		.amp {
			font-weight: 400;

				color:#bdc3c7;
		}

		&.active {
			&:before {
				content:"";
				border:solid .8rem rgba(255,255,255,0);
				border-bottom-color:#fff;
				position: absolute;
				bottom:-.1rem;
				left: 50%;
				margin-left:-.8rem;
				z-index: 3;
			}

			&:after {
				content:"";
				border:solid .9rem rgba(255,255,255,0);
				border-bottom-color:#d1d1d1;
				position: absolute;
				bottom:-.1rem;
				left: 50%;
				margin-left:-.9rem;
				z-index: 2;
			}
		}
	}
}

.col:last-of-type {
	.box-about,.box-category-nav {
		border:0;
	}
}


.client-list {
	margin:0 -1rem;
	list-style: none;
	text-align: center;
	li {
		display: inline-block;
		width: 20%;
		padding:0 1rem 2rem;
		position: relative;
		text-align: left;

		blockquote {
			display: none;
			padding:1.25rem 1.5rem;
			border:solid .1rem #bce8f1;
			background:#d9edf7;
			color:#31708f;
			position: absolute;
			left:-1.8rem;
			bottom: 100%;
			z-index: 999;
			margin-bottom:-.8rem;
			width: 180%;
			border-radius: .3rem;
			box-shadow: 0 .1rem .1rem rgba(0,0,0,0.0325),.1rem .1rem .2rem rgba(0,0,0,0.0325), 0 .1rem rgba(255,255,255,.325) inset;

			p {
				margin:0 0 .75rem;
			}

			small {
				color:#31708f;
			}

			&:before {
				content:"";
				border:solid .7rem rgba(255,255,255,0);
				border-top-color:#d9edf7;
				position: absolute;
				left: 2rem;
				bottom:-1.4rem;
				z-index: 3;
			}
			&:after {
				content:"";
				border:solid .8rem rgba(255,255,255,0);
				border-top-color:#bce8f1;
				position: absolute;
				left: 1.9rem;
				bottom:-1.6rem;
				z-index: 2;
			}
		}

		a {
			position: relative;
			display: block;
			padding:1rem;
			background:#fff;
			border:solid .1rem #d7d7d7;



			

			>div {
				height: 0;
				width: 60%;
				margin:0 auto;
				padding-bottom:42%;
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				overflow: hidden;
				text-align: left;
				text-indent: -200%;
				opacity:.5;
			}
		}

		&:hover,.hovered {
			blockquote {
				display: block;
			}

			a {
				border-color:#bce8f1;

				>div {
					opacity: .8;
				}
			}
		}
	}
}


.testimonials {
	blockquote {
		position: relative;
		padding:1rem 1rem 1rem 7.9rem;
		margin:0 0 1rem;
		p {
			font-size: 1.5rem;
			font-family: "Open Sans", Sans-serif;
			font-weight: 300;
			margin:0 0 .75rem;
			-webkit-font-smoothing:antialiased;
		}

		.vcard {
			color:#95a5a6;
		}

		.avatar {
			position: absolute;
			top:1.25rem;
			left: 0;
			border-radius: 50%;
			width: 6.4rem;
			height: 6.4rem;

			img {
				display: block;
				border-radius: 50%;
			}

			&:after {
				content:"";
				width: 5.4rem;
				height: .6rem;
				background:rgba(0,0,0,0.05);
				border-radius: 50%;
				position: absolute;
				bottom:-1.2rem;
				left: 50%;
				margin-left: -2.7rem;
			}
		}
	}
}



.event {
	position: relative;
	padding:1rem 1rem 2rem;
	margin: 0 0 2rem;
	box-shadow: 0 0 .1rem rgba(0,0,0,0.1),0 .1rem .1rem rgba(0,0,0,0.1),0 .1rem .2rem rgba(0,0,0,0.1);
	text-align: center;
	background:#fff;
	border-radius: .15rem;

	a {
		display: block;
		text-decoration: none !important;
		color:#1F1F21;
	}
	
	figure {
		margin:0 0 1rem;
		div.img {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 0;
			padding-bottom:62.8%;
			background-position:top center;
			background-size: cover;
			background-repeat: no-repeat;

			img {
				position: absolute;
				opacity: 0;
				visibility: hidden;
			}
		}
	}

	.name {
		font-family: "Open Sans", Sans-serif;
		font-size: 1.6rem;
		font-weight: 300;
		white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
	}

	.meta {
		margin-top:1.5rem;
		font-size: 1.2rem;
		line-height: 1.35;
		.datetime {
			font-weight: 700;
		}

		.category {
			font-weight: 700;
		}

		.org {
			color:#888;
		}
	}
}



.site-footer {
	background-color:#1F1F21;
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 10;

	.site-footer-cover {
		background: #1F1F21;
		padding:2rem 0 4rem;
	}

	.ribbon {
		text-align: center;
		padding:1rem 2rem 1.3rem;
		margin:-1.5rem auto 2rem;
		text-transform: uppercase;
		letter-spacing: .3rem;
		font-size: 1.1rem;
		border-bottom: solid .3rem #2b2b2b;
		color:#C7C7CC;
		font-weight: 700;
		//text-shadow:0.1rem 0.1rem rgba(0,0,0,0.1),0.2rem 0.2rem 0.1rem rgba(0,0,0,0.1),0.3rem 0.3rem 0.2rem rgba(0,0,0,0.1);
	}


	.contact {
		color:#C7C7CC;
		position: relative;
		z-index: 99;

		>div {
			margin:0 0 2rem;
		}

		h4 {
			font-size: 1rem;
			text-transform: uppercase;
			letter-spacing: .1rem;
			font-weight: 700;
			margin:0 0 .5rem;
			color:rgba(255,255,255,.3);
		}
	}
}

.footer-logo {

	img {
		display: block;
		height: 8rem;
		opacity: .6;
	}
}

.primary-footer {
	position: relative;
	a {
		color:#7f8c8d;

		&:hover,&:focus {
			text-decoration:underline;
			color:#7f8c8d;
		}
	}

	.footer-block {
		h3 {
			color:#7f8c8d;
			font-family: "Open Sans", Sans-serif;
			font-weight: 300;
			font-size: 1.8rem;
			margin:0 0 1rem;
			padding:0 0 1rem;
		}
	}




	.social-button {
		float: none;
		margin:1rem 0 0;

		.btn-social {
			width: 2.8rem;
			height: 2.8rem;
			opacity: .625;
			margin:0 1rem 0 0;

			svg {
				width: 2rem;
				height: 2rem;
				margin:-1rem 0 0 -1rem;
			}

			&:after {
				width: 2.6rem;
				margin-left:-1.3rem;
				bottom:-1rem;
				background: rgba(255,255,255,0.05);
			}

			&:hover,&:focus {
				opacity: .8;
			}
		}
	}
}

.secondary-footer {


	


	.credit {
		color:rgba(255,255,255,0.25);	
		//text-shadow:0.1rem 0.1rem rgba(0,0,0,0.1),0.2rem 0.2rem 0.1rem rgba(0,0,0,0.1),0.3rem 0.3rem 0.2rem rgba(0,0,0,0.1);
		text-align: center;
		margin:1rem 0 0;
		padding:1rem 0 0;		position: relative;

		.top {
			overflow: hidden;
			text-indent: 100%;
			height: 1.6rem;
			display: block;
			position: relative;
			margin:0 0 1rem;
			

			&:before {
				content:"";
				border:solid .8rem rgba(255,255,255,0);
				border-bottom-color:#2b2b2b;
				position: absolute;
				top:0;
				left:50%;
				margin-left: -.8rem;
			}

			&:after {
				content:"";
				width: 100%;
				height: .1rem;
				position: absolute;
				bottom:0;
				left:0;
				background: #2b2b2b;
			}

			&:hover,&:focus {

				&:before {
					border-bottom-color:#4A4A4A;				
				}

				&:after {
					background: #4A4A4A;
				}
			}
		}
	}


	.result {
		margin:2.25rem 0 0;
		float: right;
		position: relative;
		padding:0 0 0 6rem;
		min-height: 5rem;
		text-shadow:0.1rem 0.1rem rgba(0,0,0,0.1),0.2rem 0.2rem 0.1rem rgba(0,0,0,0.1),0.3rem 0.3rem 0.2rem rgba(0,0,0,0.1);

		.icon {
			width: 4.6rem;
			height: 4.6rem;
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 50%;
			background:#f39c12;
			margin-top:-.8rem;

			svg {
				display: block;
				width: 3rem;
				height: 3rem;
				fill:#fff;
				position: absolute;
				top:50%;
				left: 50%;
				margin:-1.5rem 0 0 -1.5rem;
			}


			&:after {
				content:"";
				width: 4rem;
				height: .6rem;
				background:rgba(255,255,255,0.1);
				border-radius: 50%;
				position: absolute;
				bottom:-1.2rem;
				left: 50%;
				margin-left: -2rem;
			}


		}


		b {
			font-weight: 700;
			font-size: 2.4rem;
			line-height: 1.125;
			letter-spacing: -.1rem;
			color:rgba(255,255,255,0.875);
			display: block;
		}

		span {
			color:rgba(255,255,255,0.5);
		}
	}
}


.map-wrapper {
	width: 100%;
	height: 20rem;
	position: relative;
	background: #1F1F21;
	overflow: hidden;
}


.map-overlay {
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
}

.leaflet-container {
	background:#000 !important;
}

.social-button {
	@extend .clear;
	//margin:0 0 0 -4rem;
	//float: right;
	.btn-social {
		width: 3.6rem;
		height: 3.6rem;
		position: relative;
		border-radius: 50%;
		float: left;
		margin:0 1rem 0 0;
		display: block;
		background:#eee;

		svg {
			width: 2.6rem;
			height: 2.6rem;
			position: absolute;
			top:50%;
			left:50%;
			margin:-1.3rem 0 0 -1.3rem;
			fill:#fff;
		}

		&.facebook {
			background:#3b5998;
		}

		&.twitter {
			background:#55acee;
		}


		&:after {
			content:"";
			width: 2.8rem;
			height: .6rem;
			background:rgba(0,0,0,0.05);
			border-radius: 50%;
			position: absolute;
			bottom:-1.2rem;
			left: 50%;
			margin-left: -1.4rem;
		}
	}
}

.content-wrapper {
	margin:4rem auto 4rem;
}

.sidebar-wrapper {
	position: relative;

	.sidebar-menu {
		position: relative;

		ul {
			li {
				a {
					display: block;
					padding: 1rem 0;
					line-height: 1.125;
					font-family: "Open Sans", Sans-serif;
					color:#484848;
					font-weight: 300;
					font-size: 1.45rem;
				}
			}
		}
	}
}

.entry {
	color:#585858;


	.entry-header {
		text-align: center;
		margin:0 0 3rem;

		p {
			font-family: "Open Sans", Sans-serif;
			font-weight: 300;
			font-size: 1.6rem;
		}
	}

	h1 {
		font-family: "Abril Fatface", Georgia, Serif;
		font-size: 3.6rem;
		font-weight: 400;
	}

	h2 {
		font-weight: 300;
		font-size: 1.8rem;
		font-family: "Open Sans", Sans-serif;

	}

	
	font-size: 1.45rem;


	p {
		margin:0 0 1.5rem;
	}
}




.rail {

	>li {
		@extend .clear;
		position: relative;
		margin:0 0 2rem;

		.desc {
			position: relative;
			padding:1rem 1.5rem;
			background:#f7f7f7;
			border-radius: .3rem;
			float: left;
			box-shadow: 0 .1rem .1rem rgba(0,0,0,0.1);

			&:before {
				content:"";
				border:solid .7rem rgba(255,255,255,0);
				border-right-color:#f7f7f7;
				position: absolute;
				left: -1.4rem;
				top:1rem;
			}
		}

	}
	.node {
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		background:#eee;
		position: relative;
		margin:0 1.5rem 0 0;
		float: left;


		.icon {
			width: 4.4rem;
			height: 4.4rem;
			position: absolute;
			top:.3rem;
			left: .3rem;
			background:#ddd;
			border-radius: 50%;

			svg {
				display: block;
				width: 2.8rem;
				height: 2.8rem;
				position: absolute;
				top:50%;
				left: 50%;
				margin:-1.4rem 0 0 -1.4rem;
				fill:#fff;
			}

		}

		
	}
}



.popup_vcard  {
	text-align: center;
	.fn {
		a {
			color:#333136;
			font-family: "Open Sans", Sans-serif;
			font-weight: 300;
			font-size: 1.625rem;
		}
	}

	.adr {
		color:#7f8c8d;
	}
}




.entry-post-modal {
	padding:1.35rem 2rem;
}

.entry-post,.entry-post-modal {
	font-size: 1.5rem;
	line-height: 1.5;

	


	h2 {
		font-size: 1.25em;
		color:#333136;
		letter-spacing: -.1rem;
		font-weight: 700;
		padding:0 0 .75em;
		margin:0 0 .75em;
	}


	.node {
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		background:#fff;
		position: relative;
		margin:0 1.5rem 0 0;
		position: absolute;
		left: -7.5rem;
		bottom: -1rem;
		z-index: 100;
		-webkit-box-shadow: 0 .1rem .2rem rgba(0,0,0,0.125), 0 .1rem .2rem rgba(0,0,0,0.25);
		box-shadow: 0 .1rem .2rem rgba(0,0,0,0.125), 0 .1rem .2rem rgba(0,0,0,0.25);


		.icon {
			width: 4.4rem;
			height: 4.4rem;
			position: absolute;
			top:.3rem;
			left: .3rem;
			background:#f39c12;
			border-radius: 50%;
			-webkit-box-shadow: 0 .1rem .2rem rgba(0,0,0,0.125) inset;
			box-shadow: 0 .1rem .2rem rgba(0,0,0,0.125) inset;

			svg {
				display: block;
				width: 2.8rem;
				height: 2.8rem;
				position: absolute;
				top:50%;
				left: 50%;
				margin:-1.4rem 0 0 -1.4rem;
				fill:#fff;
			}

		}

		
	}


	h3 {
		font-size: 1.25em;
		font-weight: 600;
		font-family: "Open Sans", Sans-serif;
	}


	p,ul,ol {
		margin:0 0 1.5rem;
	}

	ul {
		margin:0 0 1.5rem;
		list-style: square;
	}

	ol {

		margin:0 0 1.5rem;
		list-style: decimal;
	}

	.media {
		float: right;
		max-width: 350px;
	}
}


.content-navigation {
	dt {
		background: #f6f6f6;
		border-bottom: solid .1rem #e5e5e5;

		a {
			display: block;
			padding:1rem;
		}
	}

	dd {
		padding:1rem 1rem 1.5rem;
		background: #f9f9f9;
		border-bottom: solid .1rem #e5e5e5;
	}
}


.section-entry-sidebar {
	ul {
		li {
			margin:0 0 .5rem;
		}
	}
}


.section-entry-main {
	position: relative;
	padding-left: 5rem;





	

	

	&:after {
		content:"";
		position: absolute;
		top:-4rem;
		left: 0rem;
		width: .2rem;
		background: #ecf0f1;
		background: rgba(189, 195, 199, 0.30);
		bottom:-9rem;
	}
}

.entry-post-section {
	margin:0 0 5rem;
	position: relative;
	//min-height: 10rem;

	&.entry-first-post-section {
		font-size: 1.6rem;
	}

	.ic-payment {
		position: absolute;
		margin-top:2.5rem;
		right: 0;
		text-align: right;

		>div {
			padding: .3rem;
			border: solid 1px #EAECED;
			border-radius: .3rem;
			position: relative;
			display: block;
			float: right;
			margin:0 0 .5rem;
			clear: both;

			&:before {
				content:"";
				position: absolute;
				top:50%;
				height: .1rem;
				background: #EAECED;
				width: 5.25rem;
				right: -5.25rem;

			}

			&:after {
				content:"";
				width: .6rem;
				height: .6rem;
				background: #EAECED;
				position: absolute;
				top:50%;
				margin-top:-.3rem;
				right: -5.55rem;
				border-radius: 50%;
				z-index: 10;

			}


			img {
				display: block;
				height: 2rem;
				width: auto;
				opacity: .8;
			}
		}
	}


	.payment {
		overflow: hidden;

		>div {
			float: left;
			margin:0 2rem 0 0;
			img {
				display: block;
				height: 2rem;
				width: auto;
				opacity: .8;
			}
		}

		&+p,&+ul,&+ol {
			padding-top:2rem;
		}
	}

	figure {
		margin:0 0 2rem;
	}

	p,ul,ol {
		&+.payment {
			padding-top:1.5rem;
		}
	}


	blockquote {
		margin:0 0 2rem;

		small {
			font-size: 1.2rem;
		}
	}



	.client-list {
		overflow: hidden;
		margin: 0 -1rem 1rem;
		list-style:none;

		li {
			width: 20%;
		}
	}


	.completed {
		color:#2ecc71;
	}
	.canceled {
		color:#e74c3c;
	}
	.ongoing {
		color:#3498db;
	}
}


.section-entry-main {
	margin-left: 25rem;
}
.entry-post-section-header {
	position: relative;
	margin-bottom:2rem;
	//display: inline-block;


	//new
	display: block;
	width: 20rem;
	text-align: right;
	position: absolute;
	left: -30rem;

	.node {
		left:auto;
		right:-9.125rem;
		bottom:auto;
		top:50%;
		margin-top:-2.6rem;
	}

	h2 {
		display: inline-block;
		padding:0 1.25rem;
		position: relative;
		z-index: 1;
		margin:0 0 0 2.5rem;
		line-height: 1.25;

		&:after {
			content:"";
			position: absolute;
			top:0;
			bottom:0;
			right: 0;
			width: .1rem;
			// needs latest Compass, add '@import "compass"' to your scss
background-color: #ffffff; // Old browsers
@include filter-gradient(#ffffff, #ffffff, vertical); // IE6-9
@include background-image(linear-gradient(top,  #ffffff 0%,#eaeced 25%,#eaeced 75%,#ffffff 100%));

		}

	}

		&:before {
			content:"";
			position: absolute;
			top:50%;
			right: -5rem;

			// needs latest Compass, add '@import "compass"' to your scss
			background-color: #EAECED; // Old browsers
			//@include filter-gradient(#e5e5e5, #ffffff, horizontal); // IE6-9
			//@include background-image(linear-gradient(left,  #e5e5e5 0%,#ffffff 100%));

			height: .2rem;
			margin-top:-.1rem;
			width: 5rem;
		}

		/*&:after {
			content:"";
			width: .8rem;
			height: .8rem;
			border-radius: 50%;
			background: #EAECED;
			position: absolute;
			top:50%;
			margin-top:-.4rem;
			left: .5rem;
		}*/
	
}




/* =============================================================

	Slider v3.4
	A simple, responsive, touch-enabled image slider, forked from Swipe.

	Script by Brad Birdsall.
	http://swipejs.com/

	Forked by Chris Ferdinandi.
	http://gomakethings.com

	Code contributed by Ron Ilan.
	https://github.com/bradbirdsall/Swipe/pull/277#issuecomment-26032132

	Licensed under the MIT license.
	http://gomakethings.com/mit/

 * ============================================================= */
/*  When HTML5 JS features supported, hide slider */
.slider {
  position: relative;
  overflow: hidden;
  visibility: hidden;
}

/*  When HTML5 JS features supported, hide slides */
.slides {
  overflow: hidden;
  position: relative;
}

/*  Add a margin-bottom to each slide */
.slides > div {
  margin-bottom: 0.3125em;
}

/*  When HTML5 JS features supported, set width to 100%
 *  and float slides to the left. */
.slides > div {
  width: 100%;
  float: left;
  position: relative;
}

/*  Make slider images and videos fluid */
.slides img,
.slides video,
.slides iframe {
  max-width: 100%;
}

.slides img,
.slides video {
  width: 100%;
  height: auto;
}

/*  Remove floats */
.slider:before, .slider:after {
  display: table;
  content: "";
}

/*  Remove floats */
.slider:after {
  clear: both;
}

.slider-nav {

	a {
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		top:50%;
		margin-top:-3rem;
		width: 6rem;
		height: 6rem;
		background-color: rgba(255,255,255,0.5);
		display: block;
		overflow: hidden;
		text-indent: 100%;
		z-index: 200;
	}

	a:first-of-type {
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNDBweCIgaGVpZ2h0PSI0MHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDY0IDY0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxnPg0KCQk8cG9seWdvbiBmaWxsPSIjMjMxRjIwIiBwb2ludHM9IjQ1LjQ2Myw1OS41NzkgMTcuMDY2LDMxLjk5OSA0NS40NjMsNC40MjEgNDYuOTM0LDUuOTM1IDIwLjA5OSwzMS45OTkgNDYuOTM0LDU4LjA2NCAJCSIvPg0KCTwvZz4NCjwvZz4NCjwvc3ZnPg0K);
		left: 0;
		border-radius:0 .2rem .2rem 0;
	}

	a:last-of-type {
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNDBweCIgaGVpZ2h0PSI0MHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDY0IDY0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxnPg0KCQk8cG9seWdvbiBmaWxsPSIjMjMxRjIwIiBwb2ludHM9IjE4LjQ1Niw1OS43NDcgMTYuOTc2LDU4LjIyMyA0My45NzYsMzIuMDAxIDE2Ljk3Niw1Ljc3NSAxOC40NTYsNC4yNTMgNDcuMDIzLDMyLjAwMSAJCSIvPg0KCTwvZz4NCjwvZz4NCjwvc3ZnPg0K);
		right: 0;
		border-radius: .2rem 0 0 .2rem;
	}
}

#pushstat {
	display: none !important;
}

@import "media.scss";