@charset "UTF-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* required styles */
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0; }

.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none; }

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none; }

.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block; }

/* map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img {
  max-width: none !important; }

/* stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important; }

.leaflet-tile {
  filter: inherit;
  visibility: hidden; }

.leaflet-tile-loaded {
  visibility: inherit; }

.leaflet-zoom-box {
  width: 0;
  height: 0; }

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
  -moz-user-select: none; }

.leaflet-tile-pane {
  z-index: 2; }

.leaflet-objects-pane {
  z-index: 3; }

.leaflet-overlay-pane {
  z-index: 4; }

.leaflet-shadow-pane {
  z-index: 5; }

.leaflet-marker-pane {
  z-index: 6; }

.leaflet-popup-pane {
  z-index: 7; }

.leaflet-vml-shape {
  width: 1px;
  height: 1px; }

.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute; }

/* control positioning */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto; }

.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none; }

.leaflet-top {
  top: 0; }

.leaflet-right {
  right: 0; }

.leaflet-bottom {
  bottom: 0; }

.leaflet-left {
  left: 0; }

.leaflet-control {
  float: left;
  clear: both; }

.leaflet-right .leaflet-control {
  float: right; }

.leaflet-top .leaflet-control {
  margin-top: 10px; }

.leaflet-bottom .leaflet-control {
  margin-bottom: 10px; }

.leaflet-left .leaflet-control {
  margin-left: 10px; }

.leaflet-right .leaflet-control {
  margin-right: 10px; }

/* zoom and fade animations */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1; }

.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1); }

.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden; }

/* cursors */
.leaflet-clickable {
  cursor: pointer; }

.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab; }

.leaflet-popup-pane,
.leaflet-control {
  cursor: auto; }

.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing; }

/* visual tweaks */
.leaflet-container {
  background: #ddd;
  outline: 0; }

.leaflet-container a {
  color: #0078A8; }

.leaflet-container a.leaflet-active {
  outline: 2px solid orange; }

.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5); }

/* general typography */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* general toolbar styles */
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px; }

.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black; }

.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block; }

.leaflet-bar a:hover {
  background-color: #f4f4f4; }

.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none; }

.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb; }

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px; }

/* zoom control */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px; }

.leaflet-control-zoom-out {
  font-size: 20px; }

.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px; }

.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px; }

/* layers control */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px; }

.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px; }

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px; }

.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px; }

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none; }

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative; }

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff; }

.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px; }

.leaflet-control-layers label {
  display: block; }

.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px; }

/* attribution and scale controls */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0; }

.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333; }

.leaflet-control-attribution a {
  text-decoration: none; }

.leaflet-control-attribution a:hover {
  text-decoration: underline; }

.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px; }

.leaflet-left .leaflet-control-scale {
  margin-left: 5px; }

.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px; }

.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5); }

.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px; }

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777; }

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none; }

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box; }

/* popup */
.leaflet-popup {
  position: absolute;
  text-align: center; }

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px; }

.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4; }

.leaflet-popup-content p {
  margin: 18px 0; }

.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden; }

.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4); }

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent; }

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999; }

.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd; }

.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1; }

.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678); }

.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px; }

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999; }

/* div icon */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666; }

.leaflet-control-attribution {
  display: none; }

.lime-theme .leaflet-control.elevation .background {
  background-color: rgba(156, 194, 34, 0.2);
  border-radius: 5px; }
.lime-theme .leaflet-control.elevation .axis path, .lime-theme .leaflet-control.elevation .axis line {
  fill: none;
  stroke: #566b13;
  stroke-width: 2; }
.lime-theme .leaflet-control.elevation .area {
  fill: #9cc222; }
.lime-theme .leaflet-control.elevation .mouse-focus-line {
  pointer-events: none;
  stroke-width: 1;
  stroke: #101404; }
.lime-theme .leaflet-control.elevation .elevation-toggle {
  cursor: pointer;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  background: url(images/elevation.png) no-repeat center center #f8f8f9; }
.lime-theme .leaflet-control.elevation-collapsed .background {
  display: none; }
.lime-theme .leaflet-control.elevation-collapsed .elevation-toggle {
  display: block; }
.lime-theme .leaflet-control.elevation .mouse-drag {
  fill: rgba(99, 126, 11, 0.4); }
.lime-theme .leaflet-overlay-pane .height-focus {
  stroke: #9cc222;
  fill: #9cc222; }
  .lime-theme .leaflet-overlay-pane .height-focus.line {
    pointer-events: none;
    stroke-width: 2; }

.steelblue-theme .leaflet-control.elevation .background {
  background-color: rgba(0, 0, 0, 0);
  border-radius: .3rem; }
.steelblue-theme .leaflet-control.elevation .axis path, .steelblue-theme .leaflet-control.elevation .axis line {
  fill: none;
  stroke: #0d1821;
  stroke-width: 2; }
.steelblue-theme .leaflet-control.elevation .area {
  fill: #4682b4; }
.steelblue-theme .leaflet-control.elevation .mouse-focus-line {
  pointer-events: none;
  stroke-width: 1;
  stroke: #0d1821; }
.steelblue-theme .leaflet-control.elevation .elevation-toggle {
  cursor: pointer;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  background: url(images/elevation.png) no-repeat center center #f8f8f9; }
.steelblue-theme .leaflet-control.elevation-collapsed .background {
  display: none; }
.steelblue-theme .leaflet-control.elevation-collapsed .elevation-toggle {
  display: block; }
.steelblue-theme .leaflet-control.elevation .mouse-drag {
  fill: rgba(23, 74, 117, 0.4); }
.steelblue-theme .leaflet-overlay-pane .height-focus {
  stroke: #4682b4;
  fill: #4682b4; }
  .steelblue-theme .leaflet-overlay-pane .height-focus.line {
    pointer-events: none;
    stroke-width: 2; }

.purple-theme .leaflet-control.elevation .background {
  background-color: rgba(115, 44, 123, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
.purple-theme .leaflet-control.elevation .axis path, .purple-theme .leaflet-control.elevation .axis line {
  fill: none;
  stroke: #2d1130;
  stroke-width: 2; }
.purple-theme .leaflet-control.elevation .area {
  fill: #732c7b; }
.purple-theme .leaflet-control.elevation .mouse-focus-line {
  pointer-events: none;
  stroke-width: 1;
  stroke: #000; }
.purple-theme .leaflet-control.elevation .elevation-toggle {
  cursor: pointer;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  background: url(images/elevation.png) no-repeat center center #f8f8f9; }
.purple-theme .leaflet-control.elevation-collapsed .background {
  display: none; }
.purple-theme .leaflet-control.elevation-collapsed .elevation-toggle {
  display: block; }
.purple-theme .leaflet-control.elevation .mouse-drag {
  fill: rgba(74, 14, 80, 0.4); }
.purple-theme .leaflet-overlay-pane .height-focus {
  stroke: #732c7b;
  fill: #732c7b; }
  .purple-theme .leaflet-overlay-pane .height-focus.line {
    pointer-events: none;
    stroke-width: 2; }

html {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: #1b1b1b;
  height: 100%;
  font: 12px/1.5 Arial, Sans-serif;
  margin: 0;
  padding-top: 50px; }

.site-header {
  height: 50px;
  background: #2b2b2b;
  background: -moz-linear-gradient(top, #2b2b2b 0%, #1b1b1b 95%, #0b0b0b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(95%, #1b1b1b), color-stop(100%, #0b0b0b));
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #1b1b1b 95%, #0b0b0b 100%);
  background: -o-linear-gradient(top, #2b2b2b 0%, #1b1b1b 95%, #0b0b0b 100%);
  background: -ms-linear-gradient(top, #2b2b2b 0%, #1b1b1b 95%, #0b0b0b 100%);
  background: linear-gradient(to bottom, #2b2b2b 0%, #1b1b1b 95%, #0b0b0b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#0b0b0b',GradientType=0 );
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 1px rgba(0, 0, 0, 0.125), 0 1px 1px rgba(0, 0, 0, 0.125), 0 1px 2px rgba(0, 0, 0, 0.125);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999; }

.map-wrapper {
  position: fixed;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 50%; }

#map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0px;
  margin: 0px; }

.wrapper {
  display: table;
  width: 100%;
  height: 100%; }

.wrapper-col {
  display: table-cell;
  height: 100%;
  overflow: auto; }

.wrapper-col-a {
  width: 500px;
  background: #fff; }

.wrapper-col-b {
  width: 100%; }

.sidebar-wrapper {
  border-right: solid .1rem #9e9e9e;
  padding-top: 100px; }

.page-title {
  height: 100px;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 996;
  background: #fff;
  padding: 10px; }

.map-title {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #fff;
  z-index: 998;
  -webkit-font-smoothing: antialiased; }
  .map-title h2 {
    margin: 0 0 5px;
    font-size: 20px;
    letter-spacing: -1px; }
  .map-title .meta {
    line-height: 1.25;
    font-size: 11px; }
    .map-title .meta table td {
      padding: 1px 4px 1px 0; }
      .map-title .meta table td a {
        color: #fff;
        text-decoration: none; }
        .map-title .meta table td a:hover, .map-title .meta table td a:focus {
          text-decoration: underline; }

.handsontable tbody tr td:last-of-type {
  border-right: 0; }

.handsontable thead tr th:last-of-type {
  border-right: 0; }

.sidebar {
  width: 100%;
  overflow: auto; }
  .sidebar #table {
    height: 100%;
    overflow: auto; }
  .sidebar .table {
    font-size: 12px; }
    .sidebar .table th, .sidebar .table td {
      padding: 2px;
      white-space: nowrap; }
  .sidebar + #map {
    left: 50%; }

.container {
  max-width: 960px !important; }

.ht_clone_top {
  position: fixed !important;
  top: 150px !important; }

.entry {
  margin: 2rem;
  border-radius: .3rem;
  border: solid .1rem #e5e5e5;
  background: #fff; }

.entry__map {
  margin: 2rem -.1rem;
  border-radius: .3rem;
  overflow: hidden; }

.leaflet-map-pane {
  z-index: 2 !important; }

.leaflet-google-layer {
  z-index: 1 !important; }

.point-data {
  overflow: hidden; }
  .point-data figure {
    margin: 0;
    padding: 0;
    width: 200px; }
    .point-data figure > div {
      width: 100%;
      padding-bottom: 75%;
      overflow: hidden;
      position: relative; }
      .point-data figure > div:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: solid 0.1rem rgba(0, 0, 0, 0.05); }
      .point-data figure > div img {
        position: absolute;
        width: 100%; }
  .point-data .meta {
    font-size: 11px;
    font-family: Arial,Sans-serif;
    padding: 8px 10px 15px; }
    .point-data .meta .name {
      font-weight: 700;
      font-size: 13px;
      margin: 0 0 2px; }
    .point-data .meta > div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .point-data .meta > div > span {
        display: inline-block;
        vertical-align: middle;
        width: 36px; }

.container-full {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%; }

.site-logo {
  display: block;
  float: left;
  padding: 6px 0;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased; }
  .site-logo h1 {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 700; }
  .site-logo p {
    margin: 0;
    font-size: 11px;
    color: #bbb; }
  .site-logo img {
    height: 36px;
    width: 36px;
    display: block;
    float: left;
    margin: 0 10px 0 0; }

.leaflet-popup-content {
  margin: 0;
  overflow: hidden;
  border-radius: 3px; }

.leaflet-popup-content-wrapper {
  border-radius: 3px; }

.leaflet-popup-close-button {
  z-index: 100; }

.leaflet-left {
  left: auto;
  right: 15px; }

.leaflet-bar a:first-child {
  border-radius: 2px 2px 0 0; }
.leaflet-bar a:last-child {
  border-radius: 0 0 2px 2px; }

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in; }

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6); }

.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6); }

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6); }

.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6); }

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6); }

.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6); }

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: #b5e28c; }

.leaflet-oldie .marker-cluster-small div {
  background-color: #6ecc39; }

.leaflet-oldie .marker-cluster-medium {
  background-color: #f1d357; }

.leaflet-oldie .marker-cluster-medium div {
  background-color: #f0c20c; }

.leaflet-oldie .marker-cluster-large {
  background-color: #fd9c73; }

.leaflet-oldie .marker-cluster-large div {
  background-color: #f18017; }

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px; }

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif; }

.marker-cluster span {
  line-height: 30px; }

.handsontable .handsontable table {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1); }

/*!

Split Pane v0.1

Copyright (c) 2012 Simon HagstrÃ¶m

Released under the MIT license
https://raw.github.com/shagstrom/split-pane/master/LICENSE

*/
.split-pane {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; }

.split-pane.fixed-top > .split-pane-component,
.split-pane.fixed-bottom > .split-pane-component,
.split-pane.horizontal-percent > .split-pane-component {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: auto;
  top: auto;
  bottom: 0;
  z-index: 1; }

.split-pane.fixed-top > .split-pane-component:first-child,
.split-pane.fixed-bottom > .split-pane-component:first-child,
.split-pane.horizontal-percent > .split-pane-component:first-child {
  top: 0;
  bottom: auto; }

.split-pane.fixed-top > .split-pane-divider,
.split-pane.fixed-bottom > .split-pane-divider,
.split-pane.horizontal-percent > .split-pane-divider {
  position: absolute;
  width: 100%;
  left: 0;
  cursor: ns-resize;
  cursor: n-resize\9;
  z-index: 2; }

.split-pane.fixed-left > .split-pane-component,
.split-pane.fixed-right > .split-pane-component,
.split-pane.vertical-percent > .split-pane-component {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: auto;
  left: auto;
  right: 0;
  z-index: 1; }

.split-pane.fixed-left > .split-pane-component:first-child,
.split-pane.fixed-right > .split-pane-component:first-child,
.split-pane.vertical-percent > .split-pane-component:first-child {
  left: 0;
  right: auto; }

.split-pane.fixed-left > .split-pane-divider,
.split-pane.fixed-right > .split-pane-divider,
.split-pane.vertical-percent > .split-pane-divider {
  position: absolute;
  height: 100%;
  top: 0;
  cursor: ew-resize;
  cursor: w-resize\9;
  z-index: 2; }

.split-pane-resize-shim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: none; }

.split-pane.fixed-left > .split-pane-resize-shim,
.split-pane.fixed-right > .split-pane-resize-shim,
.split-pane.vertical-percent > .split-pane-resize-shim {
  cursor: ew-resize;
  cursor: w-resize\9; }

.split-pane.fixed-top > .split-pane-resize-shim,
.split-pane.fixed-bottom > .split-pane-resize-shim,
.split-pane.horizontal-percent > .split-pane-resize-shim {
  cursor: ns-resize;
  cursor: n-resize\9; }

div.split-pane-frame {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 100%; }

div.decoration {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid gray;
  background: white;
  width: 100%;
  height: 100%;
  padding: 0 1em;
  overflow: auto; }

#left-component {
  min-width: 10em;
  right: 50%;
  margin-right: 8px; }

#my-divider {
  right: 50%;
  width: 8px;
  border-right: solid 1px #ccc;
  border-left: solid 1px #ccc;
  background: #f5f5f5; }

#right-component {
  width: 50%; }
