html {
  font-size: 62.5%; }

body {
  background: #fafafa; }

html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px; }

.site-header {
  height: 50px;
  background: #2b2b2b;
  background: -moz-linear-gradient(top, #2b2b2b 0%, #1b1b1b 95%, #0b0b0b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(95%, #1b1b1b), color-stop(100%, #0b0b0b));
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #1b1b1b 95%, #0b0b0b 100%);
  background: -o-linear-gradient(top, #2b2b2b 0%, #1b1b1b 95%, #0b0b0b 100%);
  background: -ms-linear-gradient(top, #2b2b2b 0%, #1b1b1b 95%, #0b0b0b 100%);
  background: linear-gradient(to bottom, #2b2b2b 0%, #1b1b1b 95%, #0b0b0b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#0b0b0b',GradientType=0 );
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 1px rgba(0, 0, 0, 0.125), 0 1px 1px rgba(0, 0, 0, 0.125), 0 1px 2px rgba(0, 0, 0, 0.125);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999; }

#map {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0px;
  margin: 0px;
  background: #3b3b3b; }

.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  width: 320px;
  bottom: 0;
  background: #3b3b3b;
  border-right: solid 1px rgba(0, 0, 0, 0.2); }
  .sidebar + #map {
    left: 320px; }

.container {
  max-width: 960px !important; }

.entry {
  margin: 2rem;
  border-radius: .3rem;
  border: solid .1rem #e5e5e5;
  background: #fff; }

.entry__map {
  margin: 2rem -.1rem;
  border-radius: .3rem;
  overflow: hidden; }

.leaflet-map-pane {
  z-index: 2 !important; }

.leaflet-google-layer {
  z-index: 1 !important; }

.point-data {
  overflow: hidden; }
  .point-data figure {
    margin: 0;
    padding: 0;
    width: 200px; }
    .point-data figure > div {
      width: 100%;
      padding-bottom: 75%;
      overflow: hidden;
      position: relative; }
      .point-data figure > div:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: solid 0.1rem rgba(0, 0, 0, 0.05); }
      .point-data figure > div img {
        position: absolute;
        width: 100%; }
  .point-data .meta {
    font-size: 11px;
    font-family: Arial,Sans-serif;
    padding: 8px 10px 15px; }
    .point-data .meta .name {
      font-weight: 700;
      font-size: 13px;
      margin: 0 0 2px; }
    .point-data .meta > div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .point-data .meta > div > span {
        display: inline-block;
        vertical-align: middle;
        width: 36px; }

.container-full {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%; }

.site-logo {
  display: block;
  float: left;
  padding: 7px 0;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased; }
  .site-logo h1 {
    font-size: 14px;
    margin: 2px 0 2px;
    padding: 0;
    color: #fff;
    font-weight: 700; }
  .site-logo p {
    margin: 0;
    font-size: 11px;
    color: #bbb; }
  .site-logo img {
    height: 36px;
    width: 36px;
    display: block;
    float: left;
    margin: 0 10px 0 0; }

.leaflet-popup-content {
  margin: 0;
  overflow: hidden;
  border-radius: 3px; }

.leaflet-popup-content-wrapper {
  border-radius: 3px; }

.leaflet-popup-close-button {
  z-index: 100; }

.leaflet-left {
  left: auto;
  right: 15px; }

.leaflet-bar a:first-child {
  border-radius: 2px 2px 0 0; }
.leaflet-bar a:last-child {
  border-radius: 0 0 2px 2px; }

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in; }

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6); }

.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6); }

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6); }

.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6); }

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6); }

.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6); }

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: #b5e28c; }

.leaflet-oldie .marker-cluster-small div {
  background-color: #6ecc39; }

.leaflet-oldie .marker-cluster-medium {
  background-color: #f1d357; }

.leaflet-oldie .marker-cluster-medium div {
  background-color: #f0c20c; }

.leaflet-oldie .marker-cluster-large {
  background-color: #fd9c73; }

.leaflet-oldie .marker-cluster-large div {
  background-color: #f18017; }

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px; }

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif; }

.marker-cluster span {
  line-height: 30px; }
