fieldset {
	padding: 1.6rem 2.4rem;
	border-radius: .4rem;
	border:solid .1rem #eee;
}

legend {
	border-right: solid .8rem #fff;
	border-left: solid .8rem #fff;
	margin-left: -.8rem;
	font-size: 1.8rem;
	color:$text-color-gray;
}

.form-group {
	margin:0 0 1.6rem;

	
}


.form-label {
	display: block;
	font-weight: 700;
	margin:0 0 .4rem;

	&--required {
		&:after {
			content:"*";
			font-size: 2rem;
			color:#FF3B30;
			display: inline-block;
			vertical-align: top;
			line-height: 100%;
			margin-left: .2rem;
		}
	}
}

.form-control {
	-webkit-appearance:none;
	font:inherit;
	padding: .7rem .8rem;
	line-height:2.4rem;
	border:solid .1rem #c7c7cc;
	box-shadow: 0 .1rem .1rem rgba(0,0,0,0.1) inset;
	width: 100%;
	border-radius: .2rem;
	background-color:#fff;
	display: inline-block;
	vertical-align: middle;

	&:focus {
		outline:0;
        border-color:#5677fc;
        background:#fff;
        box-shadow: 0 0 0 2px #e7e9fd;
	}


	&--medium {
		padding:.45rem .6rem;
	}

	&--small {
		padding:.3rem .4rem;
	}
}

select.form-control {
	-webkit-appearance:menulist;
	box-shadow: 0 .1rem .1rem rgba(0,0,0,0.1);
	border-radius: .3rem;
}

textarea.form-control {
	resize:vertical;
}


.checkbox, .radio {

	label {
		cursor: pointer;
		display: block;
		margin:0 0 .4rem;
	}

	input[type=checkbox],input[type=radio] {
		margin:0 .2rem 0 0;
		position: relative;
		top:-.1rem;
		cursor: pointer;
	}

	&--inline {
		display: inline-block;
		vertical-align: middle;
		margin:0 1.2rem 0 0;
	}
}

