.panel {
	border:solid .1rem #d7d7d7;
	border-radius: .2rem;
	margin:0 0 1.6rem;
	background:#fff;
	box-shadow:0 .1rem .1rem rgba(0,0,0,0.1);

	&__header {
		padding: .8rem 1.2rem;
		overflow: hidden;
		//border-bottom:solid .1rem #eee;
		//background:#f7f7f7;
	}

	&__title {
		font-size: 1.4rem;
		line-height: 1.6rem;
		float: left;
		margin:0;
	}

	&__control {
		float: right;

	}

	&__control__btn {
		display: block;
		float: left;
		width: 1.6rem;
		height: 1.6rem;
		background:#eee;
		margin:0 0 0 .4rem;
		line-height: 1.6rem;
		text-align: center;
		overflow: hidden;
	}

	&__body {

		padding: 1.2rem 1.2rem 2.4rem;
	}
}


.chart-wrapper {
	width: 100%;

	canvas {
		display: block;
	}
}