html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
	border:0;
	font:inherit;
	font-size:100%;
	vertical-align:baseline;
	margin:0;
	padding:0;
}

html
{
	line-height:1;
}

ol,ul
{
	list-style:none;
}

table
{
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}

caption,th,td
{
	text-align:left;
	font-weight:400;
	vertical-align:middle;
}

q,blockquote
{
	quotes:none;
}

q:before,q:after,blockquote:before,blockquote:after
{
	content:none;
}

a img
{
	border:none;
}

*,:before,:after
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.clear:before,.seats-header:before,.modal-content .modal-action:before,.action:before,.clear:after,.seats-header:after,.modal-content .modal-action:after,.action:after
{
	display:table;
	content:"";
}

.clear:after,.seats-header:after,.modal-content .modal-action:after,.action:after
{
	clear:both;
}

body
{
	font:13px/1.5 Helvetica, Arial, Sans-serif;
	color:#1F1F21;
}

i,em
{
	font-style:italic;
}

.pull-right
{
	float:right;
}

.pull-left
{
	float:left;
}

.btn
{
	vertical-align:baseline;
	display:inline-block;
	font-size:14px;
	line-height:20px;
	text-align:center;
	white-space:nowrap;
	cursor:pointer;
	border:0;
	font-weight:700;
	outline:none!important;
	color:#8E8E93;
	background:#eee;
	text-decoration:none!important;
	margin:0;
	padding:8px 16px;
}

.btn:hover
{
	background:#e1e1e1;
}

.btn-blue
{
	background:#4489ce;
	color:#fff;
}

.btn-blue:hover
{
	background:#347cc5;
}

.btn-green
{
	background:#4CD964;
	color:#fff;
}

.btn-green:hover
{
	background:#5fa942;
}

.seats
{
	width:100%;
	max-width:680px;
	position:relative;
	border:solid 1px #d7d7d7;
	margin:30px auto;
}

.seats-header
{
	border-bottom:solid 1px #e5e5e5;
	line-height:20px;
}

.seats-header h2
{
	font-weight:900;
	font-size:20px;
	letter-spacing:-1px;
	text-align:center;
	padding:10px 0;
	border-right:solid 1px #f7f7f7;
	border-left:solid 1px #f7f7f7;
	background:#f7f7f7;
	width:255px;
	margin:0 auto;
}

.seat-map
{
	position:relative;
	padding:40px 20px;
}

.seat-map svg
{
	width:100%;
	display:block;
	height:100%;
}

.legend
{
	position:absolute;
	bottom:20px;
	left:20px;
	background:rgba(229,229,229,0.375);
	border-radius:3px;
}

.legend .item
{
	line-height:20px;
	font-size:11px;
	display:block;
	color:#1F1F21;
	text-decoration:none!important;
	padding:3px 13px 3px 8px;
}

.legend .item:first-of-type
{
	border-radius:3px 3px 0 0;
	padding-top:8px;
}

.legend .item:last-of-type
{
	border-radius:0 0 3px 3px;
	padding-bottom:8px;
}

.legend .item b
{
	display:inline-block;
	width:85px;
}

.legend .item:hover,.legend .item:focus
{
	background:rgba(229,229,229,0.375);
}

.legend .item .color
{
	width:14px;
	height:14px;
	float:left;
	border-radius:50%;
	margin:3px 10px 3px 0;
}

.seat
{
	opacity:.875;
}

.seat:hover
{
	opacity:1;
	cursor:pointer;
}

.modal
{
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background:rgba(229,229,229,0.375);
	display:none;
	z-index:999;
}

.modal-content
{
	width:320px;
	border:solid 1px #c7c7c7;
	position:relative;
	background:#fff;
	margin:55px auto 0;
	padding:15px;
}

.modal-content .modal-header
{
	border-bottom:solid 1px #e5e5e5;
	font-size:14px;
	line-height:1.25;
	margin:-15px -15px 0;
	padding:15px;
}

.modal-content .modal-action
{
	text-align:right;
	border-top:solid 1px #e5e5e5;
	margin:0 -15px -15px;
	padding:15px;
}

.modal-content .modal-action .btn
{
	min-width:80px;
}

.qty-control
{
	position:relative;
	height:80px;
	overflow:hidden;
	margin:20px 0;
}

.qty-control input[type=button]
{
	-webkit-appearance:none;
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	font-size:30px;
	border:0;
	background:#eee;
	position:absolute;
	right:0;
	outline:0!important;
	z-index:10;
	cursor:pointer;
	color:#8E8E93;
}

.qty-control .qtyminus
{
	bottom:-1px;
}

.qty-control .qtyminus:hover,.qty-control .qtyminus:active
{
	background:#f96969;
	color:#fff;
}

.qty-control .qtyplus
{
	top:0;
}

.qty-control .qtyplus:hover,.qty-control .qtyplus:active
{
	background:#6ab94c;
	color:#fff;
}

.qty-input input[type=text]
{
	-webkit-appearance:none;
	line-height:80px;
	height:80px;
	border:0;
	background:none;
	font-size:70px;
	font-weight:700;
	width:100%;
	color:#4489ce;
	padding-left:30px;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}

.qty-input:after
{
	content:"";
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:2;
}

.action
{
	text-align:right;
	border-top:solid 1px #e5e5e5;
	background:#fff;
	z-index:999;
	padding:15px 20px 20px;
}

.action .btn
{
	min-width:120px;
}

.action .cart
{
	float:left;
	line-height:38px;
	font-size:18px;
	color:#8E8E93;
}

.action .cart svg
{
	float:left;
	width:24px;
	height:24px;
	fill:#8E8E93;
	margin:7px 5px 7px 0;
}

.pricetable
{
	max-height:478px;
	overflow:auto;
	border-top:solid 1px #e5e5e5;
	padding:10px 20px;
}

table th,table td
{
	line-height:20px;
	border-bottom:solid 1px #e5e5e5;
	padding:10px;
}

table th:first-of-type,table td:first-of-type
{
	padding-left:0;
}

table th:last-of-type,table td:last-of-type
{
	padding-right:0;
}

table td .del
{
	width:24px;
	height:24px;
	display:block;
	background:0 0 no-repeat url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjIiIGJhc2VQcm9maWxlPSJ0aW55IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjRkYzQTJEIj48cGF0aCBkPSJNMTcuNDE0IDYuNTg2Yy0uNzgtLjc4MS0yLjA0OC0uNzgxLTIuODI4IDBsLTIuNTg2IDIuNTg2LTIuNTg2LTIuNTg2Yy0uNzgtLjc4MS0yLjA0OC0uNzgxLTIuODI4IDAtLjc4MS43ODEtLjc4MSAyLjA0NyAwIDIuODI4bDIuNTg1IDIuNTg2LTIuNTg1IDIuNTg2Yy0uNzgxLjc4MS0uNzgxIDIuMDQ3IDAgMi44MjguMzkuMzkxLjkwMi41ODYgMS40MTQuNTg2czEuMDI0LS4xOTUgMS40MTQtLjU4NmwyLjU4Ni0yLjU4NiAyLjU4NiAyLjU4NmMuMzkuMzkxLjkwMi41ODYgMS40MTQuNTg2czEuMDI0LS4xOTUgMS40MTQtLjU4NmMuNzgxLS43ODEuNzgxLTIuMDQ3IDAtMi44MjhsLTIuNTg1LTIuNTg2IDIuNTg1LTIuNTg2Yy43ODEtLjc4MS43ODEtMi4wNDcgMC0yLjgyOHoiLz48L3N2Zz4K);
	overflow:hidden;
	text-indent:-300px;
	margin:-4px 0 0;
}

table td
{
	line-height:24px;
	vertical-align:middle;
}

table tfoot td
{
	border:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,.modalShow .modal
{
	display:block;
}

b,strong,table th
{
	font-weight:700;
}

@media (max-width: 640px) {
	.seats
	{
		height:auto;
		border:0;
		margin:0 auto;
	}
}

@media (max-width: 480px) {
	.seats
	{
		border:0;
		margin:0 auto;
	}
	
	.priceTable
	{
		padding:0 20px;
	}
	
	.legend
	{
		position:relative;
		left:auto;
		bottom:auto;
		border:solid 1px #e5e5e5;
		margin:-15px 0 0;
	}
	
	.legend .item
	{
		border-bottom:solid 1px #e5e5e5;
		padding:10px 15px;
	}
	
	.legend .item:last-of-type
	{
		border:0;
	}
	
	.legend .item span
	{
		float:right;
	}
	
	.action .btn,.modal-action .btn
	{
		width:100%;
	}
	
	.action .pull-left,.modal-action .pull-left
	{
		width:50%;
		padding-right:5px;
	}
	
	.action .pull-right,.modal-action .pull-right
	{
		width:50%;
		padding-left:5px;
	}
}
