$text-color:#000;
$text-color-gray:#8E8E93;
$link-color:#007AFF;



*,*:before,*:after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}

html {
	font-size:62.5%;
	min-height:100%;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
}

body {
	font-family:"Helvetica Neue", Arial, Sans-serif;
	font-size:1.3em;
	line-height: 1.5;
	min-height:100%;
	overflow-y:scroll;
	color:$text-color;


	>div {
		font-size:1.3rem;
	}
}

figure {
	margin:0;
	padding:0;
}

img {
	max-width: 100%;
	vertical-align:middle;
}

a {
	text-decoration: none;
	color:$link-color;

	&:hover,&:focus {
		text-decoration:underline;
	}
}

hr {
	border:0;
	border-bottom:solid .1rem #eee;
}


pre,code {
	font-family: Monaco, Consolas, Monospace;
	font-size: 1.4rem;
}


p {
	a:hover,&:focus {
		text-decoration:underline;
	}
}


//extend 

/*#map {
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}*/

.page__table {
	padding-left: 50%;
}

.page__image {
	position: fixed;
	top:4.8rem+4.8rem;
	right: 0;
	left: 50%;
	bottom: 0;
	padding:2.4rem;
	background:#000;
}
	
#table-render {
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
}



.page__hero {
	background:#333;
}

.page__map {
	background: #333;
	position: fixed;
	top:4.8rem+4.8rem;
	bottom: 0;
	right: 50%;
	left: 0;
}


/*!
* jquery.fixedHeaderTable. The jQuery fixedHeaderTable plugin
*
* Copyright (c) 2011 Mark Malek
* http://fixedheadertable.com
*
* Licensed under MIT
* http://www.opensource.org/licenses/mit-license.php
* 
* http://docs.jquery.com/Plugins/Authoring
* jQuery authoring guidelines
*
* Launch  : October 2009
* Version : 1.3
* Released: May 9th, 2011
*
* 
* all CSS sizing (width,height) is done in pixels (px)
*/

/* @group Reset */

.fht-table,
.fht-table thead,
.fht-table tfoot,
.fht-table tbody,
.fht-table tr,
.fht-table th,
.fht-table td {
	/* position */
    margin: 0;
    
    /* size */
	padding: 0;

	/* text */
	font-size: 100%;
	vertical-align: top;
	}


.fht-thead .fht-table {

    margin:0;

    th {
    	padding:1.2rem !important;
    }
}

.fht-table-wrapper .fht-tbody {
	position: absolute !important;
	top: 4.2rem;
	right: 0;
	left: 0;
	bottom: 0;
	height: auto !important;
}

.fht-table {
	/* appearance */
    border-collapse: collapse;
    border-spacing: 0;
    width: 100% !important;
	}

/* @end */

/* @group Content */

.fht-table-wrapper,
.fht-table-wrapper .fht-thead,
.fht-table-wrapper .fht-tfoot,
.fht-table-wrapper .fht-fixed-column .fht-tbody,
.fht-table-wrapper .fht-fixed-body .fht-tbody,
.fht-table-wrapper .fht-tbody {
	/* appearance */
	overflow: hidden;
	
	/* position */
	position: relative;
	}

	.fht-table-wrapper .fht-fixed-body .fht-tbody,
	.fht-table-wrapper .fht-tbody {
		/* appearance */
	    overflow: auto;
		}

		.fht-table-wrapper .fht-table .fht-cell {
			/* appearance */
			overflow: hidden;
			
			/* size */
		    height: 1px;
			}
	
	.fht-table-wrapper .fht-fixed-column,
	.fht-table-wrapper .fht-fixed-body {
	    /* position */
	    top: 0;
	    left: 0;
	    position: absolute;
	    }
	    
	.fht-table-wrapper .fht-fixed-column {
	    /* position */
	    z-index: 1;
	    }

/* @end */




.page-control {
	h2 {
		margin:0;
		padding:0;
		line-height: 4.8rem;
		font-size: 1.8rem;
	}
}
