<div class="capability">
	<div class="container">
		<h2>Technical Capabilities</h2>
		<div class="row">
			<div class="col grid-6">
				<div class="widget">
					<canvas id="canvas" class="radar" height="300" width="300"></canvas>
				</div>
			</div>
			<div class="col grid-6">
				<div class="widget">
					<ul class="crap">
						<li>
							<div class="bar">
								<div class="indicator" style="width:86%;background:#e74c3c;"></div>
							</div>
							<span>Front-End Dev (HTML5, CSS3) <i>86</i></span>
						</li>
						<li>
							<div class="bar">
								<div class="indicator" style="width:80%;background:#f1c40f;"></div>
							</div>
							<span>UX/IX Design <i>80</i></span>
						</li>
						<li>
							<div class="bar">
								<div class="indicator" style="width:80%;background:#2ecc71;"></div>
							</div>
							<span>Accessibility, Typography, Responsive layout <i>72</i></span>
						</li>
						<li>
							<div class="bar">
								<div class="indicator" style="width:78%;background:#3498db;"></div>
							</div>
							<span>jQuery, Vanilla JavaScript <i>78</i></span>
						</li>
						<li>
							<div class="bar">
								<div class="indicator" style="width:58%;background:#9b59b6;"></div>
							</div>
							<span>Optimization, SEO (Microdata, Microformats) <i>58</i></span>
						</li>
						<li>
							<div class="bar">
								<div class="indicator" style="width:68%;background:#34495e;"></div>
							</div>
							<span>Graphic (SVG, Canvas), Data Visualization <i>68</i></span>
						</li>
						<li>
							<div class="bar">
								<div class="indicator" style="width:18%;background:#7f8c8d;"></div>
							</div>
							<span>Others (PHP, Ruby, NodeJS, JS MV*)<i>18</i></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
