<div class="experience">
	<div class="container">	
		<h2>Experience &amp; Practices</h2>
		<div class="timeline clear">
			<div class="time-bar">
				<div class="exp">
					<div class="bar toggle-tooltip" title="Newbie, learn to write code ;)" style="background:#bdc3c7;left:0;width:37.5%;"></div>
				</div>
				<div class="exp">
					<div class="bar toggle-tooltip" title="FrontEnd Dev @ Tokokoo.com"  style="background:#3498db;left:37.5%;width:4.16%;"></div>
				</div>
				<div class="exp">
					<div class="bar toggle-tooltip" title="IX Designer, FrontEnd Dev @ Kaskus.co.id" style="background:#f39c12;left:41.67%;width:27.78%"></div>
				</div>
				<div class="exp">
					<div class="bar toggle-tooltip" title="Co-founder, UX designer, FrontEnd Dev @ Pulsk.com" style="background:#2ecc71;left:62.5%;width:13.89%"></div>
				</div>
				<div class="exp">
					<div class="bar toggle-tooltip" title="Co-founder, UX designer, FrontEnd Dev @ Lapaku.co" style="background:#e74c3c;left:69.44%;width:12.5%"></div>
				</div>
				<div class="exp">
					<div class="bar toggle-tooltip" title="Freelance" style="background:#9b59b6;left:80.56%;width:1.38%"></div>
				</div>
			</div>

			<div class="year-line">
				<div class="year">
					2009
				</div>
				<div class="year">
					2010
				</div>
				<div class="year">
					2011
				</div>
				<div class="year">
					2012
				</div>
				<div class="year">
					2013
				</div>
				<div class="year">
					2014
				</div>
			</div>
		</div>
		<div class="legend clear">
			<span style="color:#bdc3c7;">Noob</span>
			<span style="color:#3498db;">Tokokoo.com</span>
			<span style="color:#f39c12;">Kaskus.co.id</span>
			<span style="color:#2ecc71;">Pulsk.com</span>
			<span style="color:#e74c3c;">Lapaku.co</span>
			<span style="color:#9b59b6;">Freelance</span>
		</div>
	</div>
</div>
