---
---

@import "bootstrap";
@import "plugin";

html {
    height: 100%;

}
body {
    padding-top: 40px;
    background: #F9F7F5;
    color: #333333;
    padding: 50px 0 100px;
    font-size: 14px;
    font-family:"Open Sans","Helvetica Neue", Arial, Sans-serif;
    height: 100%;
}


a {
    color: #2980b9;

    &:hover,&:focus {
        color:#2980b9;
    }
}


textarea {
    resize: vertical;
}

.col {
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}


.dropdown-menu {
    border-radius: 0;

    >li {
        >a {
            padding: 4px 18px;
            &:hover,&:focus {
                background:#3498db;
                color: #fff;
            }
        }
    }
}

.form-control {
    border-radius: 2px;
}

.navbar-inverse {
    -webkit-font-smoothing: antialiased;
    border: 0;
    border-radius: 0;
    font-size: 14px;
    background: #16a085;
    .navbar-brand {
        color: #fff;
        font-size: 16px;
        padding-right: 30px;
    }
    .navbar-nav {
        >li {
            >a {
                color: #fff;
                font-weight: 700;
                font-size: 12px;
                text-transform: uppercase;
            }
        }
        .active {
            >a {
                background: rgba(0, 0, 0, 0.12);
                &:hover,
                &:focus {
                    background: rgba(0, 0, 0, 0.12);
                }
            }
        }
        .dropdown-menu {
            border-radius: 0 0 4px 4px;
            li {
                a {
                    font-weight: 500;
                    padding: 5px 12px;
                    &:hover,
                    &:focus {
                        background: #337ab7;
                        color: #fff;
                    }
                }
            }
        }
    }
}

img {
    max-width: 100%;
}

.btn {
    border-radius: 2px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    box-shadow: 0 1px 1px rgba(0,0,0,.06);
    outline: 0 !important;

    &-primary {
        background: #3498db;
        background: linear-gradient(to bottom, lighten(#3498db, 8%) 0%, #3498db 100%);
        text-shadow: -1px -1px rgba(0, 0, 0, 0.12);
        border-color:darken(#3498db, 8%);
        border-bottom-color: darken(#3498db, 12%);

        &:hover,&:focus {
            background:#2980b9;
            border-color:darken(#3498db, 12%);
            border-bottom-color: darken(#3498db, 16%);
        }

        &.active,&:active {
            background:#2980b9 !important;
            box-shadow: 0 -1px -2px rgba(0,0,0,0.08) inset;
        }
    }

    &-danger {
        background: #e74c3c;
        background: linear-gradient(to bottom, lighten(#e74c3c, 8%) 0%, #e74c3c 100%);
        text-shadow: -1px -1px rgba(0, 0, 0, 0.12);
        border-color:darken(#e74c3c, 8%);
        border-bottom-color: darken(#e74c3c, 12%);
        
    }
    svg {
        vertical-align: middle;
        width: 20px;
        height: 20px;
        display: block;
    }
    &-default {
        background:#eeeeee;
        background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);

        &-flat {
            background:#fff;
        }

        svg {
            fill: #4a4a4a;
        }
    }
}

.sidebar {
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    top: 50px;
    width: 200px;
    left: 0;
    bottom: 0;
    z-index: 99;
    padding:20px 0;
    border-right: solid 1px #ccc;
}

.sidebar-logo {
    padding:50px 20px 10px;
    border-bottom:solid 1px #1F1F21;
    height: 95px;

    img {
        display: block;
        margin:0;
        max-height: 34px;

    }
}


.sidebar-scroll {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
        -webkit-overflow-scrolling: touch;
}
.sidebar-menu {
    list-style: none;
    margin: 15px 0;
    padding: 0;
    li {
        position: relative;
        .menu-label {
            display: block;
            color: #4a4a4a;
            padding: 6px 20px 6px 42px;
            text-decoration: none !important;
            font-weight: 700;
            line-height: 24px;
            position: relative;
            font-size: 13px;
            outline: 0 !important;
            svg {
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 50%;
                left: 12px;
                margin-top: -10px;
                fill: #c7c7cc;
            }
            &:hover,
            &:focus {
                background: #4a4a4a;
                color: #fff;
                svg {
                    fill: #f7f7f7;
                }
            }
        }
        .shortcut {
            position: absolute;
            top: 0;
            right: 0;
            width: 36px;
            height: 36px;
            opacity: .64;
            -webkit-transition: all .1s linear;
            transition: all .1s linear;
            svg {
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -10px 0 0 -10px;
                fill: #c7c7cc;
            }
            &:hover,
            &:focus {
                background: #3498db;
                opacity: 1;
                outline: none !important;
                svg {
                    fill: #fff;
                }
            }
        }
        &:hover,
        &:focus {
            background: #4a4a4a;
            .menu-label {
                color: #fff;
                svg {
                    fill: #fff;
                }
            }
            .shortcut {
                opacity: 1;
            }
        }

        &.active {
            background:#e6e6e6;
        }
    }
}



.site-header {
    height: 50px;
    position: fixed;
    background:#000000;
    top:0;
    left:0;
    right: 0;
    z-index: 999;
    padding:0 8px 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.06),0 1px 2px rgba(0,0,0,0.02);
    -webkit-font-smoothing:antialiased;
    @extend .clearfix;
}

.site-logo {
    text-align: center;
    float: left;
    width: 200px;

    a {
        display: block;
        line-height: 50px;
        font-weight: 700;
        color: #c7c7cc;
        text-shadow:1px 1px rgba(255,255,255,.4);
        padding:10px 20px;

        img {
            display: block;
            max-height: 30px;
        }
    }
}

.site-search {
    float: left;
    padding:8px 12px;

    .form-control {
        width: 320px;
    }
}

.site-user {
    list-style: none;
    margin:0;
    padding:0;
    float: right;
    font-size: 13px;
    @extend .clearfix;

    &__avatar {
        width: 24px;
        height: 24px;
        float: left;
        margin:13px 6px 13px -4px;
        overflow: hidden;


        img {
            display: block;
        }
    }

    >li {
        float: left;
        border-left: solid 1px #333;

        >a {
            display: block;
            line-height: 50px;
            padding:0 15px;
            color: #fff;
            font-weight: 700;
            text-decoration: none !important;

            svg {
                display: block;
                width: 24px;
                height: 24px;
                margin:13px -6px;
                fill:#fff;
            }
        }
    }
}

.mainbar {
    background:#fff;
    position: absolute;
    top:50px;
    right: 0;
    left: 200px;
    bottom: 0;
    overflow: auto;
}

.mainbar-list {
    background:#fff;
    position: absolute;
    top: 50px;
    width: 480px;
    left: 200px;
    bottom: 0;
    border-right: solid 1px #ccc;
}

.mainbar-detail {
    background:#fff;
    position: absolute;
    top: 50px;
    right: 0;
    left: 680px;
    bottom: 0;
}

.page-header {

    padding: 10px 20px 0;
    margin: 0;
    border-bottom-color: #cccccc;
    box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.06);
    position: relative;
    @extend .clearfix;
}

.page-header-detail {

    padding: 10px 20px 0;
    margin: 0;
    border-bottom-color: rgba(0,0,0,0);
    position: relative;
    @extend .clearfix;
}

.dropdown-menu {
    .divider {
        margin:5px 0;
    }
}

.page-action {
    padding:10px 0;
}

.page-control {
    padding:10px 0;
    float: left;

    .dropdown {
        display: inline-block;
        vertical-align: middle;

        &-menu {
            left: auto;
            right: 0;
            border-radius: 0;
            margin-top:10px;
            padding:8px 0;
            left:auto;
            right: 0;
            z-index: 1010;

            &:before {
                content:"";
                position: absolute;
                border:solid 8px rgba(0,0,0,0);
                border-bottom-color: #fff;
                z-index: 3;
                right: 14px;
                top:-16px;
            }

            &:after {
                content:"";
                position: absolute;
                border:solid 9px rgba(0,0,0,0);
                border-bottom-color: #c7c7cc;
                z-index: 2;
                right: 13px;
                top:-18px;
            }

            >li {
                >a {
                        padding:4px 18px;

                    &:hover,&:focus {
                        background:#3498db;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.page-title {
    margin: 0 40px 0 0;
    padding: 0;
    float: left;

    >svg {
        display: block;
        float: left;
        width: 24px;
        height: 24px;
        margin:15px 10px 15px 0;
    }

    >a,>span {
        display: block;
        line-height: 34px;
        font-size: 24px;
        color: #333;
        text-decoration: none !important;
        font-weight: 300;
        padding:10px 0;
        white-space: nowrap;
    }

    >span {
        font-size: 18px;
        font-weight: 400;
    }

    .chevron {
        width: 28px;
        height: 28px;
        margin-top:6px;
        margin-left: 6px;
        float: right;

        svg {
            width: 16px;
            height: 16px;
            margin:6px;
            display: block;
            fill:#c7c7cc;
        }
    }

    .dropdown-menu {
        border-radius: 0;
        margin-top:0px;
        padding:8px 0;
        left:0;
        z-index: 1010;


        &:before {
            content:"";
            position: absolute;
            border:solid 8px rgba(0,0,0,0);
            border-bottom-color: #fff;
            z-index: 3;
            left: 18px;
            top:-16px;
        }

        &:after {
            content:"";
            position: absolute;
            border:solid 9px rgba(0,0,0,0);
            border-bottom-color: #c7c7cc;
            z-index: 2;
            left: 17px;
            top:-18px;
        }



        >li {
            >a {
                    padding:4px 18px;

                &:hover,&:focus {
                    background:#3498db;
                    color: #fff;
                }
            }
        }
    }
}


.page-body {
    position: absolute;
    top:65px;
    bottom: 0;
    right: 0;
    left: 0;


    .table {
        margin:0;

        th {

            &:last-of-type {
                border-right:0;
            }
        }

        td {

            &:last-of-type {
                border-right:0;
            }
        }
    }
}

.floatThead-wrapper {
    position: absolute !important;
    right: 0;
    bottom: 0;
    left: 0;
    top:0;
}

.floatThead-container {
    background:#fff;

        background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);

    box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.06), 0 .1rem .2rem rgba(0, 0, 0, 0.04);
    border-bottom:solid 1px #ccc;
}

.page-body-table {
    position: absolute;
    top:0;
    right: 0;
    bottom: 44px;
    left: 0;

    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

}

.page-body-content {
    position: absolute;
    top:0;
    right: 0;
    bottom: 75px;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

}

.page-body-details {
    position: absolute;
    top:51px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

}


.page-details-content {
    padding:20px;
}
.table-header-bg {
    height: 37px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: solid 1px #cccccc;

}


.page-table-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 44px;
    border-top:solid 1px #ccc;
    padding:0 20px;
    overflow: hidden;
    z-index: 88;
    background:#fff;
}

.page-body-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-top:solid 1px #e6e6e6;
    padding:20px;
    overflow: hidden;
    z-index: 88;
    background:#fff;
}


.page-content {
    padding:20px;
}


.form-control {
    padding-right: 8px;
    padding-left: 8px;
}

.form-container {
    margin:0 0 40px;
}
.form-table {
    &__row {
        display: table;
        width: 100%;
        margin:0 0 10px;
    }
    &__label {
        display: table-cell;
        vertical-align: middle;
        padding:5px 10px 5px 0; 
        width: 160px;

        label {
            font-weight: 400 !important;
            margin:0;
            padding: 7px 0;
        }

    }

    &__input {
        display: table-cell;
        vertical-align: middle;
        padding:5px 0 5px 10px;
    }
}


.tab-pane {
    padding:20px 0;
}

.page-list {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    width: 31.8%;
    overflow: auto;


    ul {
        list-style: none;
        margin:0;
        padding: 0;
    }

    &__item {
        overflow: hidden;
        padding:14px 20px;
        border-bottom: solid 1px #eee;
        cursor: pointer;

        &.active {
            background:#f7f7f7;
        }
    }
}



.list-item {
    overflow: hidden;
    padding:14px 20px;
    border-bottom: solid 1px #eee;
    cursor: pointer;

    &__name {

    }

    &__meta {
        color: #8E8E93;
        overflow: hidden;
        line-height: 24px;
    }

    &__date {

        float: left;
        padding-right: 8px;
        position: relative;

        &:after {
            content:"";
            position: absolute;
            top:2px;
            bottom: 2px;
            width: 1px;
            right: 0;
            background:#c7c7cc;
        }
    }

    &__num {
        float: left;
        padding-left: 8px;
    }


    &__status {
        line-height: 24px;
        font-size: 10px;
        text-transform: uppercase;
    }

    &.active {
        background:#f7f7f7;
    }

    &:hover {
        background:#fffded;
    }
}

.page-detail {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    width: 68.2%;
    border-left: solid 1px #c7c7cc;
    background:#fff;
    z-index: 999;
}





.table {

    thead {
        tr {
            th {
                padding:8px 14px;
                border-bottom:0;
                font-weight: 700;
                white-space: nowrap;


                &:first-of-type {
                    padding-left: 20px;

                   
                }
                &:last-of-type {
                    padding-right: 20px;

                }

               
            }

        }
    }
    tbody {
        tr {
            td {
                padding-left: 14px;
                padding-right: 14px;
                word-wrap: break-word;
                border-top: 0;
                border-bottom:solid 1px #e6e6e6;
                &:first-of-type {
                    padding-left: 20px;
                }
                &:last-of-type {
                    padding-right: 20px;
                }

                input[type=checkbox] {
                    display: block;
                    position: relative;
                    top:-1px;
                }

                &.clickable {
                    cursor: pointer;
                }
            }
            &:hover {
                background: #fffded !important;
            }

            &:last-of-type {
                td {
                    border-bottom:0;
                }
            }

            &.checked {
                background:lighten(#D1EEFC, 5%) !important;
            }

            &.active {

                td {
                    cursor: default !important;
                background:#f5f5f5 !important;
                    a {
                        color: #333;
                    }
                }
            }
        }
    }
    &-bordered {
        border-top: 0;
        border-bottom:0;
        thead {
            tr {
                th {
                    border-bottom-width: 1px;
                }
            }
        }
    }
}

.table-sorter {
    display: inline-block;
    position: relative;
    padding: 0 1.6rem 0 0;
    color: #333 !important;
    text-decoration: none !important;
    vertical-align: middle;

    &:after {
        content: "";
        width: .8rem;
        height: 1.4rem;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -.7rem;
        background-image: url(assets/sorter.svg);
        background-position: center;
        background-repeat: no-repeat;
        opacity: .4;
    }


    &.ascending {
        &:after {
            height: .6rem;
            margin-top: -.3rem;
            background-image: url(assets/sorter-ascending.svg);
        }
    }

    &.descending {
        &:after {
            height: .6rem;
            margin-top: -.3rem;
            background-image: url(assets/sorter-descending.svg);        }
    }

    &:hover,&:focus {
        &:after {
            opacity:.8;
        }
    }
}

.contact-list {
    .table {
        tbody {
            td {
                padding-top:15px;
                padding-bottom: 15px;
                border-bottom-color: #eee !important;
            }
        }
    }
}


.profile-box {
    margin:0 0 20px;
    overflow: hidden;

    .vcard {

    }

    .avatar {
        width: 80px;
        height: 80px;
        float: left;
        margin:0 20px 0 0;
        overflow: hidden;
        position: relative;
        background:#fff;
        border:solid 1px #e6e6e6;
        box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    }

    .fn {
        font-size: 18px;
        margin:0 0 5px;
    }

    .tel {
        color: #808080;
        svg {
            display: block;
            width: 14px;
            height: 14px;
            float: left;
            margin:3px 10px 3px 0;
            fill:#808080;
        }
    }

    .email {
        color: #808080;

        svg {
            display: block;
            width: 14px;
            height: 14px;
            float: left;
            margin:3px 10px 3px 0;
            fill:#808080;

        }
    }
}

.profile-img {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background-color: #f7f7f7;
    background-size: cover;
}


.scoreboard {
    border-top:solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    overflow: hidden;
    margin:0 -20px 40px;
    background:lighten(#D1EEFC, 8%);
    box-shadow: 0 1px #fff inset;

    &__item {
        float: left;
        padding:15px 0 15px 20px;
        width: 25%;
        position: relative;

        span {
            display: block;
            font-size: 12px;
            text-transform: uppercase;
            color: #808080;
            margin:0 0 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        b {
            display: block;
            font-size: 20px;
            color: #FF3B30;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:after {
            content: "";
            position: absolute;
            top:20px;
            bottom: 20px;
            right: 0;
            width: 1px;
            background:#e6e6e6;
        }

        &:first-of-type{
        //padding:15px 20px 15px 0;
        }

        &:last-of-type {
            &:after {
                display:none;
            }
        }
    }
}

.profile-status {
    table {

        td {
            padding:10px;
            border-bottom:solid 1px #e6e6e6;
        }
    }
}


.profile-address {
    &__title {
        font-size: 12px;
        color: #808080;
        text-transform: uppercase;
        margin:0 0 7px;
    }
}

.profile-block {
    margin:0 0 20px;
}

.form-block {
    padding:40px;
    max-width: 960px;
}

.form-label-inline {
    display: block;
    line-height: 34px;
    font-weight: 400;
}





.nav-tabs {
    >li {
        margin:0;

        >a {
            border:0 !important;
            margin:0 !important;
            position: relative;
            border-radius: 0;
            padding:15px 20px;
            color: #666;

            &:after {
                content:"";
                position: absolute;
                bottom: -1px;
                right: 20px;
                left: 20px;
                height: 3px;

            }

            &:hover,&:focus {
                background:#fff;

                &:after {
                    background:#ccc;
                }
            }
        }

        &.active {
            >a {
                border:0;
                color: #333 !important;

                &:after {
                    background:#3498db;
                }
            }
        }
    }
}